.panels-overlay-basic-pane {
  display:none;
  background-color: #fff;
  width: auto;
  position: absolute;
  margin: 0 auto;
  z-index: 3000;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #eee;
}

.panels-overlay-basic-pane .inner {
  margin: 0 15px;
}